<form class="form col-5">
  <div class="mb-3">
    <label for="productTitle" class="form-label">Product title</label>
    <input type="text" class="form-control" id="productTiile" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="productDescription" class="form-label">Product description</label>
    <input type="text" class="form-control" id="productDescription" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="productPrice" class="form-label">Product price</label>
    <input type="text" class="form-control" id="productPrice" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>