
<div>
  <a href="/api/products">See Products</a>
</div>
  {{#if data}}
    <div class="form-not {{data.state}}">
      <h2>{{data.msj}}</h2>
    </div>
  {{/if}}
<form class="form col-5" action="" method="post">
  <div class="mb-3">
    <label for="productTitle" class="form-label">Product title</label>
    <input type="text" class="form-control" id="productTitle" name="title" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="productDescription" class="form-label">Product description</label>
    <input type="text" class="form-control" id="productDescription" name="description" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="productPrice" class="form-label">Product price</label>
    <input type="text" class="form-control" id="productPrice" name="price" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>