body{
    background-color: rgb(36, 36, 36);
}
.form {
    color: rgb(0, 0, 0);
    background-color: rgb(216, 134, 114);
}

.cards-container {
    height: 100vh;
    overflow-y: scroll;
}

.card-product {
    width: 40rem; height: 12rem;
    margin: 1rem;
    padding-top: 2rem;
    background-color: rgb(233, 224, 212);
    text-align: center;
    color: rgb(0, 0, 0);
}

.card-product h2 {
    font-size: 24px;
}
.card-product h3 {
    font-size: 20px;
}
.card-product p {
    font-size: 12px;
}