.home {
    width: 100%; height: 100%;
    text-align: center;
    padding-top: 10rem;
}

h1 {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 3rem;
}

a {
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 1rem 1rem;
    border-radius: 0.2rem;
}

.form {
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
}
.form-not {
    
    color: white;
    font-size: 400;
    text-align: center;
    padding: 1rem 2rem;
    
}
.satisfactory {
    background-color: rgb(110, 185, 110);
}
.negative {
    background-color: rgb(153, 45, 45);
}

.products-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    color: white;
    padding: 1rem;
    text-align: center;
    width: 10rem; height: 15rem;
    background-color: rgb(88, 88, 88);
    margin: 2rem 1rem;
}
.card h2 {
    font-size: 22px;
    font-weight: 300;
}

.product-list-not {
    background-color: rgb(114, 93, 114);
    color: white;
}
.product-list-not .satisfactory {
    display: none;
}